<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trello風Todoアプリ</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <script src="https://kit.fontawesome.com/931c61dabd.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main">
    <h1 class="mainTitle">T◯◯llo風 Todoアプリ</h1>
    <p class="subTitle">〜 vue.js version 〜</p>

    <div id="app">
      <div class="form">
        <div class="inputArea">
          <input class="inputText" type="text" ref="text" @keypress.enter="addTask" placeholder="このカードにタイトルを入力...">
          <span class="error" v-if="errors">{{ errors }}</span>
        </div>
        <button class="btn" @click="addTask">カードを追加</button>
      </div>

      <div class="searchBox">
        <i class="fas fa-search searchBox__icon" aria-hidden="true"></i>
        <input type="text" class="searchBox__input" v-model="searchText">
      </div>

      <div class="labels">
        <label v-for="label in options" class="label">
          <input class="label-Input" type="radio" v-model="current" :value="label.value">
          <span class="label-DummyInput"></span><span class="label-LabelText">{{ label.label }}</span>
        </label>
      </div>

      <div class="todoArea">
        <ul class="list">
          <li class="list__item" v-for="item in filterTodos" :key="item.id" :class="{ 'list__item--done': item.state }">
            <i class="far icon-check" :class="{ 'fa-check-circle': item.state, 'fa-circle': !item.state }" @click="toggleTask(item)" aria-hidden="true"></i>
            <span v-if="!item.editMode" @click="showEditTask(item)">{{ item.text }}</span>
            <input type="text" class="editText" v-if="item.editMode" v-model="item.text" v-on:keyup.enter.shift="closeEditTask(item)">
            <i class="fas fa-trash-alt icon-trash" @click="removeTask(item)" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="dist/js/bundle.js"></script>
</body>
</html>